body{margin:0; padding: 0;}
.container{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 18% 1fr 1fr;
    grid-template-rows: 150px auto 30px;
}

header{
    background: #262d30;
    grid-column: 1/4 ;
    grid-row:1;
    display:grid;
    grid-template-columns: 18% 30% 30% 22%
    justify-content: center;
}

.header-photo{
    grid-column: 1/2;
    text-align: center;
}

.header-photo > img{
    width:120px;
    height: 100%;

}

.header-name{
    grid-column: 2/3;
    color:white;
    }

.header-name h1{
    align-self:center;
    font-size: 45px;
}

.header-span{color:#3b94ce;}


.header-infos{
    grid-column: 5;
    color: #939697;
    justify-self: start;
}

header li{list-style: none;}

.header-logos{
    width:25px;
    height: 25px;
    margin-right: 10px;
}

aside{
    background:#dbdbda;
    grid-column:1/2 ;
    grid-row:2/3;
    display:flex;
    flex-direction: column;
}
.aside-2{
    display:flex;
    flex-wrap: wrap;
}

.hobbies{
    width:100%;
    padding-top:30px;}

.hobbies-logosize{
    width:50%;
    margin-bottom: 40px;
}

.presentation, .hobbies{font-size: 1.5em;}

.separation{
    margin: 10px auto;
    width: 95%;
    height: 3px;
    background: #262d30;
}
p.center{
    font-size:20px;
}
section{
    grid-column:2/4 ;
    grid-row:2/3 ;
    padding: 10px 30px;
}

section li{
    list-style: none;
    margin-bottom: 10px;    
}

.skills-content{
    width: 300px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15px 15px 15px 15px;
}

footer{
    background: #262d30;
    grid-column:1/4 ;
    grid-row:3;
}

.center{text-align: center;}