*{margin:0px; padding: 0px;}
body{padding: 0px 5px 0px 5px;}

.container{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.sommaire{
  height: 50px;
  border-bottom: 2px solid #590AE8;
  margin-bottom: 20px;
  text-align: center;}

.somm{
  position:absolute;
  top: 10px;
  right:50%;
  color: #590AE8;}

  nav{
    position:absolute;
    top: 40px;
    left: 33%;

  }

#explication, #histoire, #outils{
  color: #C118FF;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
}

blockquote{margin-left: 20px; font-size: 25px;}
blockquote:hover{font-style:italic;}

a{
  text-decoration: none;}

a:hover{
  font-size: 18px;}

p{
  padding-left: 30px;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn;
}
